.gif {
	color: #fff;
	position: relative;
}
.gif:hover {
	outline: white solid 3px;
}
.gif:hover > p {
	background: #fff;
	color: #333;
}
.gif:focus {
	outline: white solid 3px;
}
.gif:focus > p {
	background: #fff;
	color: #333;
}

.gif img {
	height: 300px;
	width: 300px;
	object-fit: cover;
	margin: 0;
	padding: 0;
}

.gif p {
	font-size: 1rem;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.5);
	text-align: left;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.1rem;
}
