.trending-searches {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	gap: 0.2rem;
}
.trending-searches a {
	padding: 0.5rem 1rem;
	max-width: max-content;
}
.trending-searches a:nth-child(odd) {
	background: blueviolet;
	color: #fff;
}
.trending-searches a:nth-child(odd):hover {
	background: rgb(173, 86, 255);
}
.trending-searches a:nth-child(even) {
	background: #fff;
	color: blueviolet;
}
.trending-searches a:nth-child(even):hover {
	background: rgb(209, 209, 209);
}

@media screen and (min-width: 40rem) {
	.trending-searches {
		flex-direction: column;
		align-items: flex-end;
	}
}
