.App {
	text-align: center;
}

.App-content {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	gap: 1rem;
}

a {
	text-decoration: none;
	color: white;
	transition: ease all 0.5s;
}
a:hover {
	color: blueviolet;
}

.title {
	color: blueviolet;
	font-size: 3rem;
	cursor: pointer;
}
body {
	accent-color: blueviolet;
}
